apiVersion: apps/v1
kind: Deployment
metadata:
  name: fwm-bot
  namespace: fwm-bot
  labels:
    app: fwm-bot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fwm-bot
  template:
    metadata:
      labels:
        app: fwm-bot
    spec:
      containers:
      - name: fwm-bot
        image: ghcr.io/bpafoshizle/fwm-bot:latest
        env:
        - name: LOGLEVEL
          value: "INFO"
        - name: DISCORD_TOKEN
          valueFrom:
            secretKeyRef:
              name: discord
              key: token
        - name: DISCORD_GUILD_ID
          valueFrom:
            secretKeyRef:
              name: discord
              key: dscrd-guild-id
        - name: DSCRD_CHNL_GENERAL
          valueFrom:
            secretKeyRef:
              name: discord
              key: dscrd-chnl-general
        - name: TWITCH_BOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: twitch
              key: twitch-bot-username
        - name: TWITCH_BOT_USER_ID
          valueFrom:
            secretKeyRef:
              name: twitch
              key: twitch-bot-user-id
        - name: TWITCH_BOT_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: twitch
              key: twitch-bot-client-id
        - name: TWITCH_BOT_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: twitch
              key: twitch-bot-client-secret
        - name: TWITCH_CHAT_OAUTH_TOKEN
          valueFrom:
            secretKeyRef:
              name: twitch
              key: twitch-chat-oauth-token
        - name: REDDIT_USERNAME
          valueFrom:
            secretKeyRef:
              name: reddit
              key: reddit-username
        - name: REDDIT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: reddit
              key: reddit-password
        - name: REDDIT_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: reddit
              key: reddit-client-id
        - name: REDDIT_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: reddit
              key: reddit-client-secret
        - name: GFYCAT_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: gfycat
              key: gfycat-client-id
        - name: GFYCAT_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: gfycat
              key: gfycat-client-secret
        - name: OLLAMA_ENDPOINT
          valueFrom:
            secretKeyRef:
              name: ollama
              key: ollama-endpoint
        - name: OLLAMA_LLM_MODEL
          valueFrom:
            secretKeyRef:
              name: ollama
              key: ollama-llm-model
        - name: GEMINI_API_KEY
          valueFrom:
            secretKeyRef:
              name: google
              key: gemini-api-key
        - name: GOOGLE_API_KEY
          valueFrom:
            secretKeyRef:
              name: google
              key: google-api-key
        - name: GOOGLE_LLM_MODEL
          valueFrom:
            secretKeyRef:
              name: google
              key: google-llm-model
        - name: GROQ_API_KEY
          valueFrom:
            secretKeyRef:
              name: groq
              key: groq-api-key
        - name: GROQ_LLM_MODEL
          valueFrom:
            secretKeyRef:
              name: groq
              key: groq-llm-model
        - name: BRAVE_SEARCH_API_KEY
          valueFrom:
            secretKeyRef:
              name: brave
              key: brave-search-api-key
        - name: STEAM_KEY
          valueFrom:
            secretKeyRef:
              name: steam
              key: steam-key
        - name: STEAM_ID
          valueFrom:
            secretKeyRef:
              name: steam
              key: steam-id
        - name: AI_SYSTEM_PROMPT
          valueFrom:
            secretKeyRef:
              name: ai
              key: ai-system-prompt
      imagePullSecrets:
      - name: ghcr-fwm-bot
